extends layout

block content
  p Prijava korisnika
  form(action='/login',method='post')
    p 
    input(type='text',name='name',placeholder='Korisničko ime')
    p
    input(type='password',name='pass',placeholder='Lozinka')
    p
    input(type='submit',value='Prijava')
  