extends ../layout

block content
    h1.
         #{title}
    
    a(href="/projects/new").
      Kreiraj Projekt
    p
    a(href="/projects/list/leader").
      Projekti koje vodite
    p
    a(href="/projects/list/member").
      Projekti u kojima ste Älan
    p
    a(href="/projects/list/archive").
      Arhiva projekata